.dashboard-card{
  box-shadow: 0 7px 16px -10px rgba(0, 0, 0, 0.2);
}

.shadow-bottom{
  box-shadow: 2px 25px 20px -15px rgba(0, 0, 0, 0.1);
}

.shadow-top{
  box-shadow: 2px -25px 20px -25px rgba(0, 0, 0, 0.1);
}